@import (less) './reset.css';
@import (less) './highlight.css';

body {
    font-size:14px;
    line-height:25px;
    font-family:Arial, sans-serif;
    background-color:white;
}

.clear {
    clear:both;
}

h1 {
    font-size:4em;
    line-height:1em;
    font-family:georgia, Arial, serif;
    margin-bottom:15px;
    font-weight:normal;
}

h2 {
    font-size:1.5em;
    line-height:1em;
    margin-bottom:15px;
    font-family:Arial, sans-serif;
    color:black;
    page-break-after: avoid;
}

h3 {
    font-size:16px;
    line-height:16px;
    margin-bottom:15px;
    font-family:Arial, serif;
    color:#000;
    font-style:italic;
}

p {
    margin-bottom:25px;
}

em {
    font-style:normal;
    font-weight:bold;
}

#content ul {
    list-style-type:disc;
    margin:25px 25px;
}

img.right {
    float: right;
    margin:10px;
}

img.left {
    float: left;
    margin:10px;
}

img.center {
    margin:10px auto 25px auto;
    display:block;
}

.hs ol li {
    /*background-image:url(hs.jpg);*/
    background-color:black;
}

.label {
    white-space:nowrap;
    font-family:Consolas, monospace;
    font-size:16px;
    padding:0px 3px;
}

.function {
    background-color:#c00;
    color:white;
}

.type {
    background-color:#519179;
    color:white;
}
.class {
    background-color:#CC33CC;
    color:white;
}
.law {
    background-color:#99DDcc;
    color:black;
}

code {
    white-space:nowrap;
    font-family:Consolas, monospace;
    background-color:#ddd;
    font-weight:normal;
    padding:0px 3px;
    font-weight:bold;
}

.introcontent {
    background-image:url(media/bg.png);
}

.hintbox {
    width: 100%;
    padding:10px;
    background-color:#ffc;
    margin-bottom:25px;
    background-size: cover;
    background-image:url(media/note.jpg);
    background-repeat:no-repeat;
    float: left;
}

.hintbox p {
    margin: 0px;
}

.bgwrapper {
    margin-top:50px;
    margin-bottom:50px;
    background-color:white;
    padding:25px 0 50px 0;
}

.splashdiv {
    width:700px;
    margin:0 auto;
    color:white;
}
.splashdiv a {
    color:white;
}
.splashdiv .introtext {
    width:550px;
    float:left;
    text-align:left;
}
.splashdiv .go {
    width:150px;
    float:left;
    text-align:right;
}

p.exercise {
    font-weight:bold;
    color:black;
    margin-bottom:0px;
}

.newsplash a.nostarchlink {
    color:white;
    text-decoration:underline;
}

.newsplash a.nostarchlink:hover {
    text-decoration:none;
}

.newsplash ul {
    margin-top:14px;
    margin-bottom:14px;
}

.newsplash li {
    list-style-type:disc;
}

.errata {
    background-color:#ffeded;
    padding:3px;
}

/* Content Page */

nav > ol.toc {
    list-style-type:decimal;
    font-family:arial,serif;
    font-size:24px;
    padding-left:35px;
    margin:0px; 
    color:#408156 ;
    margin-bottom:25px;
}

nav > ol.toc > li {
    font-family:georgia,serif;
}

nav > ol.toc > li > a {
    text-decoration:none;
    display:block;
    border-bottom:1px solid #ddd;
    color: #BD2A33;
}

nav > ol.toc > li> ol  {
    line-height:40px;
    font-family:arial, sans-serif;
    margin: 25px 25px;
}

nav > ol.toc > li> ol> li {
    list-style-type:none;
}

nav > ol.toc > li > ol > li > a {
    font-size:16px;
    color:black;
    text-decoration:underline;
}
